body {
  font-family: "Roboto", sans-serif;
}
/* Common Styles or Utilities  */
.btn.edu-btn {
  font-size: 20px;
  background-color: #289bde;
  color: #fff;
  border: 1px solid #289bde;
  transition: 0.5s ease-in-out;
}
.btn.edu-btn {
  font-size: 20px;
  background-color: #289bde;
  color: #fff;
  border: 1px solid #289bde;
  transition: 0.5s ease-in-out;
}
.btn.edu-btn:hover {
  transform: scale(1.2);
  color: #289bde;
  border: 1px solid #289bde;
}
.card-title,
button.accordion-button {
  color: #4a4a4a !important;
}

/* Header styles */
nav button.register {
  color: #289bde;
  border: 1px solid #289bde;
  transition: 0.5s ease-in-out;
}
nav button.register:hover {
  background-color: #289bde;
  color: #fff;
  border: 1px solid #289bde;
  transform: scale(1.2);
}
/* Slider Styles*/
.carousel-caption {
  bottom: 100px !important;
  padding: 70px;
}
.carousel-caption h1 {
  font-size: 65px;
}
.carousel-caption p {
  color: #f4f4f4;
}
/* Popular Courses Styles */
.course-card .price {
  color: #289bde;
} 
* Explore Styles */
.explore-content {
  background-color: #f4fafd;
}
/* Register Styles */
.register-wrapper {
  background-color: #289bde;
}
.register-wrapper button.btn {
  background-color: #fff;
  color: #289bde;
  transition: 0.5s ease-in-out;
}
.register-wrapper button.btn:hover {
  transform: scale(1.2);
}
button.btn.submit-form,
button.btn.save-changes {
  background-color: #289bde;
  color: #fff;
  border: 1px solid #289bde;
}
button.btn.close {
  background-color: #4a4a4a;
  color: #fff;
  border: 1px solid #4a4a4a;
}

/* Feedback Styles */
/* Arrows */
svg.arrow {
  width: 35px;
  background: #e5f6ff;
  color: #289bde;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  transition: 0.5s ease-in-out;
}
svg.arrow:hover {
  background-color: #289bde;
  color: #fff;
}
svg.left-arrow {
  left: -10px;
}
svg.right-arrow {
  right: -10px;
}
i.feedback-icon {
  color: #f59e0b;
}

/* Footer Section */
.social-icon span i {
  transition: 0.5s ease-in-out;
}
.social-icon span i:hover {
  transform: rotate(360deg);
}

/* Responsive Styles */
@media only screen and (max-width: 576px) {
  .carousel-caption{
    padding: 15%;
    bottom: 0px !important;
    left: 0% !important;
    right: 0% !important;
  }
  .carousel-caption h1 {
    font-size: 16px !important;
  }
  .carousel-caption p {
    font-size: 10px !important;
  }